ion-content {
    --background: var(--ion-background-color);
}

.bg-transparent {
    background: transparent !important;
}

.contact-item {
    --background: transparent;
    margin-bottom: 10px;
    --padding-start: 10px;
    --padding-end: 10px;
    border-radius: 12px;
}

.contact-item:hover {
    --background: rgba(255, 255, 255, 0.03);
}

.contact-avatar {
    border: 2px solid var(--ion-color-secondary);
    padding: 2px;
    width: 50px;
    height: 50px;
}

.contact-name {
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--ion-text-color);
}

.contact-number {
    color: var(--ion-color-step-500);
    font-size: 0.9rem;
}

.icon-btn {
    --padding-start: 8px;
    --padding-end: 8px;
}