<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title class="gradient-text">Forward to...</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="close()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list class="bg-transparent">
        <ion-item *ngFor="let chat of chats" (click)="selectChat(chat)" detail lines="none" class="contact-item">
            <ion-avatar slot="start">
                <img [secureSrc]="chat.avatar" (error)="$any($event).target.src = 'assets/user.png'" />
            </ion-avatar>
            <ion-label>
                <h2>{{ chat.name }}</h2>
                <p>{{ chat.isGroup ? 'Group' : 'Personal Chat' }}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>