<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>View Image</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="saveImage()">
                <ion-icon name="download"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="black" class="ion-text-center">
    <swiper-container zoom="true" class="zoom-swiper">
        <swiper-slide>
            <div class="swiper-zoom-container">
                <img [secureSrc]="imageUrl" [pymKey]="key" [pymIv]="iv" />
            </div>
        </swiper-slide>
    </swiper-container>
</ion-content>