replicaCount: 2

image:
  repository: chatflect/backend
  pullPolicy: IfNotPresent
  tag: "4.0.0"

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: api.chatflect.internal
      paths:
        - path: /
          pathType: Prefix

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi

securityContext:
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000
