apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "chatflect-backend.fullname" . }}
  labels:
    {{- include "chatflect-backend.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "chatflect-backend.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "chatflect-backend.selectorLabels" . | nindent 8 }}
    spec:
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /api/status.php
              port: http
          readinessProbe:
            httpGet:
              path: /api/status.php
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: config-volume
              mountPath: /var/www/html/config/config.php
              subPath: config.php
              readOnly: true
      volumes:
        - name: config-volume
          secret:
            secretName: {{ include "chatflect-backend.fullname" . }}-config
