<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/chats"></ion-back-button>
    </ion-buttons>
    <ion-title>Live Location</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="stopSharing()" *ngIf="isSharing">Stop</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Status Bar -->
  <div class="status-bar" *ngIf="isSharing">
    <ion-chip color="success">
      <ion-icon name="pulse"></ion-icon>
      <ion-label>Sharing Live</ion-label>
    </ion-chip>
    <span class="remaining-time">{{ remainingTime }}</span>
  </div>

  <div id="mapId" [style.height]="isSharing ? 'calc(100% - 50px)' : '100%'"></div>
</ion-content>